{{define "header"}}
<!DOCTYPE html>
<html>
<head>
  <title>{{ .Page.Title}}</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <script src="/static/lib/platform/platform.js"></script>

  <link rel="import" href="/static/lib/core-scaffold/core-scaffold.html">
  <link rel="import" href="/static/lib/core-header-panel/core-header-panel.html">
  <link rel="import" href="/static/lib/core-menu/core-menu.html">
  <link rel="import" href="/static/lib/core-item/core-item.html">
  <link rel="import" href="/static/lib/core-icons/core-icons.html">
  <link rel="import" href="/static/lib/core-toolbar/core-toolbar.html">
</head>

<body>

<core-scaffold>
  <core-header-panel navigation flex mode="seamed">
    <core-toolbar>Resultats</core-toolbar>
    <core-menu selected="{{ .Page.PageID}}" valueattr="pageid">
      <a href="/"><core-item icon="home" label="Home" pageid="home"></core-item></a>
      {{if .Page.User}}
      <a href="/results"><core-item icon="settings" label="Results" pageid="results"></core-item></a>
      {{end}}
      <a href="/about"><core-item icon="help" label="About" pageid="about"></core-item></a>
    </core-menu>
  </core-header-panel>
  <div tool>{{ .Page.Title}}</div>
  <div class="mainContent">

{{end}}
