<md-card>
	<h2>Register</h2>
	<form name="registerForm" ng-submit="register(registerInfo)" novalidate>
		<md-text-float type="email" label="Email" ng-model="registerInfo.email" required></md-text-float>
		<md-text-float type="password" label="Password" ng-model="registerInfo.password" required></md-text-float>
		<md-text-float type="password" label="Repeat password" required></md-text-float>
		<md-text-float type="text" label="First name" ng-model="registerInfo.firstName" required></md-text-float>
		<md-text-float type="text" label="Last name" ng-model="registerInfo.lastName" required></md-text-float>
		<div layout="row" layout-align="end center">
			<md-button type="submit">Register</md-button>
		</div>
	</form>
</md-card>