<md-dialog md-theme="green">
  	<md-content>
	  	<h2>Add a class</h2>
		<form id="addClassPopup" name="addClassForm" ng-submit="answer(newClass)" novalidate>
			<md-text-float type="text" label="Name" ng-model="newClass.name" ngRequired></md-text-float>
			<md-text-float type="text" label="Group" ng-model="newClass.group" ngRequired></md-text-float>
			<md-input-group class="md-green-theme md-input-has-value">
				<label for="ddlSessions">Session</label>
				<select id="ddlSessions" ng-options="s.name for s in sessions" ng-model="newClass.year"></select>
			</md-input-group>
			<div class="buttons" layout="row" layout-align="end center">
				<input style="display:none" type="submit" ng-disabled="!newClass.name || !newClass.group">
				<md-button ng-click="cancel()">Cancel</md-button>
				<md-button class="md-primary" ng-click="answer(newClass)" ng-disabled="!newClass.name || !newClass.group">Ok</md-button>
			</div>
		</form>
	</md-content>
</md-dialog>
