/*
 * Global
 */
.menu-icon {
	background: none;
	border: none;
}

.row {
  width: 100%;
}

.row > div {
  width: 100%;
  float: left;
  margin: 0;
}

/* Page layout */
@media (min-width: 600px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .container {
    width: 80%;
  }

  .row > .md-6 {
    width: 50%;
  }
}

@media (min-width: 1260px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1800px) {
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* cards */
md-card {
  background-color: #FFF;
  padding: 0;
}

md-card md-content {
  padding: 20px;
}

md-card > md-toolbar {
  border-radius: 2px 2px 0 0;
}

md-input-group > input {
	width: 100%;
}

md-content.main {
  background-color: #F0F0F0;
}

/* Toolbar buttons */
md-toolbar .md-toolbar-tools .md-button.md-green-theme, md-toolbar .md-toolbar-tools .md-button.md-green-theme:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none;
}
md-toolbar .md-toolbar-tools .md-button.md-green-theme:hover button {
  background: rgba(46, 168, 109, 0.8);
}
md-toolbar .md-toolbar-tools .md-button.md-green-theme:focus, md-toolbar .md-toolbar-tools .md-button.md-green-theme button:focus {
  background: #2ea86d;
}

md-backdrop {
  z-index: 99;
}

md-dialog .buttons {
  margin-top: 20px;
}

md-dialog {
  width: 90%;
}

@media (min-width: 600px) {
  md-dialog {
    width: 400px;
  }
}

.md-dialog-container {
  z-index: 100;
}

/*
 * Extend angular material layout
 * Responsive layout alignment
 */
@media (min-width: 960px) {
  [layout-align-gt-md="center center"],
  [layout-align-gt-md="start center"],
  [layout-align-gt-md="end center"],
  [layout-align-gt-md="space-between center"],
  [layout-align-gt-md="space-around center"] {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  [layout-align-gt-md="center start"],
  [layout-align-gt-md="start start"],
  [layout-align-gt-md="end start"],
  [layout-align-gt-md="space-between start"],
  [layout-align-gt-md="space-around start"] {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  [layout-align-gt-md="center"],
  [layout-align-gt-md="center center"],
  [layout-align-gt-md="center start"],
  [layout-align-gt-md="center end"] {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*
 * Sidebar
 */
ul.menu {
  padding: 0;
  list-style: none;
  font-size: 17px;
}

ul.menu li {
  padding: 10px 5px 10px 30px;
  cursor: pointer;
}

ul.menu li:hover {
  background-color: #F5F5F5;
}

ul.menu li.selected {
  background-color: #EFEFEF;
  color: #3AA03E;
}

/*
 * Modules
 */

/* Login module */
.rc-login md-card {
  padding: 0;
  margin: 30px;
}

.rc-login md-card md-toolbar {
  background-color: #676767;
}

.rc-login md-card md-content {
  padding-top: 0;
}

.rc-login md-checkbox {
  margin-left: 0;
}

.rc-login .login-btn {
  width: 100%;
  height: 2.5em;
  margin-top: 15px;
}

.rc-login .container {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

@media (min-width: 960px) {
  .rc-login md-card {
    padding: 0;
    max-width: 400px;
    margin: 30px;
  }

  .rc-login .container {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}


/* Dashboard module */

.rc-dashboard md-switch {
  width: 58px;
}

.rc-dashboard .add-class-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.rc-dashboard .no-classes {
  text-align: center;
}

.rc-dashboard .no-classes h3 {
  margin-bottom: 10px;
}

.rc-dashboard .no-classes p {
  margin-top: 0;
  line-height: 1.3em;
}

.rc-dashboard md-card {
  padding: 10px 20px;
}

.rc-dashboard .classes {
  margin-bottom: 90px;
}

.rc-dashboard .classes h3 {
  margin-bottom: 0;
  line-height: 1.3em;
}

.rc-dashboard .classes p {
  margin-top: 0;
  line-height: 1.3em;
  clear: both;
}

.rc-dashboard .classes md-item-content .controls {
  visibility: hidden;
}

.rc-dashboard .classes md-item-content:hover .controls {
  visibility: visible;
}

.rc-dashboard .config .info {
  margin-left: 10px;
  margin-top: 14px;
  width: 36px;
  height: 36px;
}

.rc-dashboard .config .info md-icon {
  margin-top: 0px;
}

.rc-dashboard .config .setting {
  height: 50px;
}

.rc-dashboard .config .setting.no-info {
  margin-right: 44px;
}

.rc-dashboard .config .buttons {
  margin-top: 20px;
}


/* Results module */

.rc-results .result md-item-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.rc-results .results-class h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
